@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #7d5fff;
}
.container{
    background-color: #fff;
    width: 800%;
    max-width: 400px;
    border-radius: 5px;
    padding: 20px;
}
.container h2 {
    text-transform: capitalize;
    font-size: 23px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: #7d5fff;
}
input.password {
    outline: 0;
    border: 1.5px solid #7158e2;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}
.password-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.password-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.generate-btn {
    text-transform: capitalize;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #7d5fff;
    color: #fff;
    cursor: pointer;
}
button.copy-btn {
    text-transform: capitalize;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #7d5fff;
    color: #fff;
    cursor: pointer;
}